################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HTMLParser/bin/Debug
/HTMLParser/obj/Debug
/packages/HtmlAgilityPack.1.4.9.5
/packages
